<a href="https://colab.research.google.com/github/wonwookim/DataMining/blob/main/2023_03_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

read_csv = open('/content/drive/MyDrive/data_mining/datacleaning.csv', 'r')
df = pd.read_csv(read_csv)
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000