<a href="https://colab.research.google.com/github/wonwookim/DataMining/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 드라이브 연결하기

In [59]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 라이브러리 호출

In [60]:
import pandas as pd

# Data Processing

## CSV 데이터 불러오기

In [61]:
csv_data = pd.read_csv('/content/drive/MyDrive/data_mining/datacleaning.csv', encoding = 'cp949', index_col = None) #보통 한글이 들어가 있는 파일을 보면 cp949 형식으로 저장되어있어서 반영해줘야함

csv_data.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000

## Data Summary
* 이 것은 데이터에 무슨 값이 있는지 요약하기 위한 섹션

In [62]:
csv_data.shape

(1500, 9)

In [63]:
csv_data.describe

<bound method NDFrame.describe of       Customer          SSN Birthdate  Age  Region  CredCardUser  Income  \
0            1  539-84-9599  10.26.44   72    East           0.0   62900
1            2  444-05-4079  01.01.32   67    West           NaN   23300
2            3  418-18-5649  08.17.73   25    East           1.0   48700
3            4  065-63-3311  08.02.47   51    West           1.0  137600
4            5  059-58-9566  10.03.48   50    East           0.0  101400
...        ...          ...       ...  ...     ...           ...     ...
1495      1496  347-70-0762  09.28.65   33    West           0.0   71800
1496      1497  638-19-2849  07.31.30   68   South           0.0  121100
1497      1498  670-57-4549  07.21.54   44   North           1.0   64000
1498      1499  166-84-2698  10.30.66   32   South           0.0   91000
1499      1500  366-03-5021  09.23.34   64   South           0.0  121400

      Purchases  AmountSpent
0             4         2080
1             0            0
2             8         3990
3             2          920
4             2         1000
...         ...          ...
1495          2          970
1496          5         2540
1497          4         2160
1498          6         2910
1499          1          530

[1500 rows x 9 columns]>

## Data cleaning

In [64]:
csv_data.sort_values('Customer', ascending = True)  # customer 기준으로 오름차순

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

In [65]:
csv_data.sort_values('Customer', ascending = False)  # customer 기준으로 내림차순

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
...,...,...,...,...,...,...,...,...,...
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080

In [66]:
csv_data[csv_data.Region == 'South']

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
6,7,638-89-7231,12.02.43,55,South,NaN,50900,3,1400
7,8,202-94-6453,11.08.74,24,South,1.0,50500,0,0
13,14,614-59-6703,08.01.72,26,South,1.0,54400,9999,9999
15,16,588-92-9590,08.29.39,59,South,0.0,143500,2,1070
19,20,700-29-4704,01.10.33,66,South,0.0,133700,3,1570
...,...,...,...,...,...,...,...,...,...
1489,1490,287-48-5517,07.21.30,68,South,0.0,114500,3,1500
1491,1492,251-91-5281,02.10.64,35,South,0.0,126600,2,940
1492,1493,542-84-9996,11.03.75,23,South,1.0,29700,3,1640
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

### Data 내 Null 값 찾기

In [67]:
csv_data.isnull()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1495,False,False,False,False,False,False,False,False,False
1496,False,False,False,False,False,False,False,False,False
1497,False,False,False,False,False,False,False,False,False
1498,False,False,False,False,False,False,False,False,False
1499,False,False,False,False,False,False,False,False,False

In [68]:
csv_data.isnull().sum()

Customer        0
SSN             0
Birthdate       0
Age             0
Region          0
CredCardUser    7
Income          0
Purchases       0
AmountSpent     0
dtype: int64

## Data 내 Null값 처리하기

In [69]:
csv_data.fillna(0)

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,0.0,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

In [70]:
csv_data.dropna()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
5,6,443-13-8685,03.24.60,39,East,0.0,139700,1,550
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

In [71]:
csv_data

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000
...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530

### column 별 값 처리 방법

In [72]:
csv_data.duplicated('CredCardUser') #해당 열에서 처음에 중복되지 않는 값에 대해서는 false를 보여주고 그 이후에는 True를 보여줌줌

0       False
1       False
2       False
3        True
4        True
        ...
1495     True
1496     True
1497     True
1498     True
1499     True
Length: 1500, dtype: bool

In [73]:
csv_data.value_counts('CredCardUser') # 해당 열에서 가지고 있는 값들의 개수를 보여줌

CredCardUser
0.0    901
1.0    592
dtype: int64

In [74]:
csv_data.drop_duplicates('CredCardUser') # 해당 열에서 중복된 값들을 지워줌

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990

### DateTime 활용한 날짜 type 변환

In [58]:
import datetime as dt
csv_data['Birthdate'].apply(lambda x : dt.datetime.strptime(x,'%m.%d.%y')) #strptime을 통해 문자열을 datetime 타입으로 변경할 수 있다 2번째 자리는 내가 지금 가지고 있는 string의 날짜 형식

0      2044-10-26
1      2032-01-01
2      1973-08-17
3      2047-08-02
4      2048-10-03
          ...
1495   2065-09-28
1496   2030-07-31
1497   2054-07-21
1498   2066-10-30
1499   2034-09-23
Name: Birthdate, Length: 1500, dtype: datetime64[ns]

### iterrows를 통한 DataFrame 반복문

In [78]:
for index, row in csv_data[:5].iterrows() :
  print(index, row) # iterrows() 함수를 사용할 경우 해당 행 index와 그 index에 맞는 column 값들을 series 형식으로 뽑아옴

0 Customer                  1
SSN             539-84-9599
Birthdate          10.26.44
Age                      72
Region                 East
CredCardUser            0.0
Income                62900
Purchases                 4
AmountSpent            2080
Name: 0, dtype: object
1 Customer                  2
SSN             444-05-4079
Birthdate          01.01.32
Age                      67
Region                 West
CredCardUser            NaN
Income                23300
Purchases                 0
AmountSpent               0
Name: 1, dtype: object
2 Customer                  3
SSN             418-18-5649
Birthdate          08.17.73
Age                      25
Region                 East
CredCardUser            1.0
Income                48700
Purchases                 8
AmountSpent            3990
Name: 2, dtype: object
3 Customer                  4
SSN             065-63-3311
Birthdate          08.02.47
Age                      51
Region                 West
CredCardUser            1.0
Income               137600
Purchases                 2
AmountSpent             920
Name: 3, dtype: object
4 Customer                  5
SSN             059-58-9566
Birthdate          10.03.48
Age                      50
Region                 East
CredCardUser            0.0
Income               101400
Purchases                 2
AmountSpent            1000
Name: 4, dtype: object

In [82]:
for index, row in csv_data.iterrows() :
  if csv_data.loc[index, 'Income'] < 9000 :
    print(len(csv_data.loc[index]))

9
9
9
9
9
9
9
9
9
9
9

### 예제
* Purchase 열의 값을 조사하여 이상치를 찾아 describe를 하시오

In [87]:
csv_data[['Purchases']].describe()  #평균 값은 122.9이고 중앙값은 3이다. 그리고 max 값은 9999인 것으로 보아 9999는 이상 값으로 측정할 수 있다,

         Purchases
count  1500.000000
mean    122.901333
std    1088.786866
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max    9999.000000

In [89]:
csv_data.drop(csv_data[csv_data['Purchases'] == 9999].index, inplace = True)

In [90]:
csv_data[['Purchases']].describe()   # 9999 값을 지우고 난 후 표준편차 값이 많이 감소하였고, max 값 역시 줄고, 평균과 중앙값이 비슷하게 나왔다.

         Purchases
count  1482.000000
mean      2.948718
std       1.644688
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       9.000000

In [92]:
csv_data_add = csv_data.assign(Average = csv_data['AmountSpent'] / csv_data['Purchases'])

In [93]:
csv_data_add

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent,Average
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080,520.00
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0,NaN
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990,498.75
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920,460.00
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000,500.00
...,...,...,...,...,...,...,...,...,...,...
1495,1496,347-70-0762,09.28.65,33,West,0.0,71800,2,970,485.00
1496,1497,638-19-2849,07.31.30,68,South,0.0,121100,5,2540,508.00
1497,1498,670-57-4549,07.21.54,44,North,1.0,64000,4,2160,540.00
1498,1499,166-84-2698,10.30.66,32,South,0.0,91000,6,2910,485.00
1499,1500,366-03-5021,09.23.34,64,South,0.0,121400,1,530,530.00