<a href="https://colab.research.google.com/github/wonwookim/DataMining/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 드라이브 연결하기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 라이브러리 호출

In [2]:
import pandas as pd

# Data Processing

## CSV 데이터 불러오기

In [9]:
csv_data = pd.read_csv('/content/drive/MyDrive/data_mining/datacleaning.csv', encoding = 'cp949', index_col = None) #보통 한글이 들어가 있는 파일을 보면 cp949 형식으로 저장되어있어서 반영해줘야함

csv_data.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0.0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,NaN,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1.0,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1.0,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0.0,101400,2,1000

## Data Summary
* 이 것은 데이터에 무슨 값이 있는지 요약하기 위한 섹션

In [11]:
csv_data.shape

(1500, 9)

In [12]:
csv_data.describe

<bound method NDFrame.describe of       Customer          SSN Birthdate  Age  Region  CredCardUser  Income  \
0            1  539-84-9599  10.26.44   72    East           0.0   62900
1            2  444-05-4079  01.01.32   67    West           NaN   23300
2            3  418-18-5649  08.17.73   25    East           1.0   48700
3            4  065-63-3311  08.02.47   51    West           1.0  137600
4            5  059-58-9566  10.03.48   50    East           0.0  101400
...        ...          ...       ...  ...     ...           ...     ...
1495      1496  347-70-0762  09.28.65   33    West           0.0   71800
1496      1497  638-19-2849  07.31.30   68   South           0.0  121100
1497      1498  670-57-4549  07.21.54   44   North           1.0   64000
1498      1499  166-84-2698  10.30.66   32   South           0.0   91000
1499      1500  366-03-5021  09.23.34   64   South           0.0  121400

      Purchases  AmountSpent
0             4         2080
1             0            0
2             8         3990
3             2          920
4             2         1000
...         ...          ...
1495          2          970
1496          5         2540
1497          4         2160
1498          6         2910
1499          1          530

[1500 rows x 9 columns]>

## Data cleaning